@font-face {
  /*font-properties*/
  font-family: AlibabaPuHuiTi_2_65_Medium;
  src: url('@/assets/font/AlibabaPuHuiTi-2-65-Medium.woff2');
}
@font-face {
  /*font-properties*/
  font-family: AlibabaPuHuiTi_2_55_Regular;
  src: url('@/assets/font/AlibabaPuHuiTi-2-55-Regular.woff2');
}
@font-face {
  /*font-properties*/
  font-family: AlibabaPuHuiTi_2_85_Bold;
  src: url('@/assets/font/AlibabaPuHuiTi-2-85-Bold.woff2');
}
@font-face {
  /*font-properties*/
  font-family: SourceHanSansCN-Bold;
  src: url('@/assets/font/SourceHanSansCN-Bold.otf');
}
@font-face {
  /*font-properties*/
  font-family: SourceHanSansCN-Medium;
  src: url('@/assets/font/SourceHanSansCN-Medium.otf');
}
@font-face {
  /*font-properties*/
  font-family: SourceHanSansCN-Regular;
  src: url('@/assets/font/SourceHanSansCN-Regular.otf');
}
@font-face {
  font-family: YouSheBiaoTiHei;
  src: url('@/assets/font/YouSheBiaoTiHei-Regular.ttf');
}
@font-face {
  font-family: AlimamaShuHeiTi;
  src: url('@/assets/font/AlimamaShuHeiTi-Bold.ttf');
}
